.likeButton {
    width: 18px;
    height: 18px;
    fill: none;
    border: none;
    background: white;
    cursor: pointer;
    padding-right: 5px;
}

.likeButtonClicked {
    width: 18px;
    height: 18px;
    fill: black;
    border: none;
    background: white;
    cursor: pointer;
    padding-right: 5px;
}
